name: Deploy to GKE

on:
  workflow_dispatch:

  #env:
  # IMAGE_NAME: ghcr.io/devops-cloud-mm/myapp/myimage:latest
  # PROJECT_ID: ${{ secrets.PROJECT_ID }}

jobs:
    
  deploy-to-gke:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: kubectl - Google Cloud GKE cluster.
        uses: ameydev/gke-kubectl-action@master
        env:
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
          APPLICATION_CREDENTIALS: ${{ secrets.GCLOUD_AUTH }}
          CLUSTER_NAME: ${{ secrets.CLUSTER_NAME }}
          ZONE_NAME: ${{ secrets.ZONE_NAME }}
        with:
          args: apply -f cluster/ -f java-app/ -f mysql/
        
            